<launch>
   <node name="emsgc_main" pkg="emsgc" type="emsgc_main" output="screen" required="true"
    args="/home/rahul/catkin_ws/src/EMSGC/calib/hkust_EMS/corridor
          /home/rahul/catkin_ws/src/EMSGC/cfg/hkust_EMS/corridor.yaml
          /home/rahul/workspace/hkust_EMS/corridor/events_filtered.txt
          /home/rahul/catkin_ws/src/EMSGC/result/hkust_EMS/corridor">
  </node>
</launch>