<launch>
  <node name="emsgc_main" pkg="emsgc" type="emsgc_main" output="screen" required="true"
    args="/home/rahul/catkin_ws/src/EMSGC/calib/EED
          /home/rahul/catkin_ws/src/EMSGC/cfg/EED/light_variations.yaml
          /home/rahul/workspace/EED/light_variations/events_filtered.txt
          /home/rahul/catkin_ws/src/EMSGC/result/EED/light_variations">
  </node>
</launch>