<launch>
  <node name="emsgc_main" pkg="emsgc" type="emsgc_main" output="screen" required="true"
    args="/home/rahul/catkin_ws/src/EMSGC/calib/DistSurf
          /home/rahul/catkin_ws/src/EMSGC/cfg/DistSurf/hand.yaml
          /home/rahul/workspace/DistSurf/hand/events.txt
          /home/rahul/catkin_ws/src/EMSGC/result/DistSurf/hand">
  </node>
</launch>